$font-stack:    Montserrat, sans-serif;
$blue: #315EFB;
$green: linear-gradient(324.5deg, #28BC00 -27.5%, rgba(40, 188, 0, 0) 108.52%);
$dark: #1F2431;
$grey: #82899B;

*, *:before, *:after, h1 {
  box-sizing: border-box;
  margin: 0;
}

body {
  font: 100% $font-stack;
  color: $dark;
}
header {

}

